<h4 class="text-center"> Register to embrace a new world!</h4>

<form [formGroup]="signupForm"  (submit)="signup()" class="form mt-4">
    <div class="form-group">
        <input placeholder="email" formControlName="email" class="form-control" autofocus>
        <small *ngIf="signupForm.get('email').errors?.required" class="text-danger d-block mt-2">
            email is required!
        </small>
        <small *ngIf="signupForm.get('email').errors?.email" class="text-danger d-block mt-2">
            email is invalid!
        </small>
    </div>

    <div class="form-group">
        <input formControlName="fullName" placeholder="full name" class="form-control">
        <small *ngIf="signupForm.get('fullName').errors?.required" class="text-danger d-block mt-2">
            full name is required!
        </small>
        <small *ngIf="signupForm.get('fullName').errors?.minlength" class="text-danger d-block mt-2">
            Minimum length is 2
        </small>
        <small *ngIf="signupForm.get('fullName').errors?.maxlength" class="text-danger d-block mt-2">
            Maximum length is 40
        </small>
      
    </div>

    <div class="form-group">
        <input formControlName="userName" placeholder="user name" class="form-control">
        <small *ngIf="signupForm.get('userName').errors?.required" class="text-danger d-block mt-2">
            userName is required!
        </small>
        <small *ngIf="signupForm.get('userName').errors?.minlength" class="text-danger d-block mt-2">
            Minimum length is 8
        </small>
        <small *ngIf="signupForm.get('userName').errors?.maxlength" class="text-danger d-block mt-2">
            Maximum length is 14
        </small>
        <small *ngIf="signupForm.get('userName').errors?.pattern" class="text-danger d-block mt-2">
            username is invalid
        </small>
    </div>

    <div class="form-group">
        <input type="password" formControlName="password" placeholder="password" class="form-control">
        <small *ngIf="signupForm.get('password').errors?.required" class="text-danger d-block mt-2">
            password is required!
        </small>
        <small *ngIf="signupForm.get('password').errors?.minlength" class="text-danger d-block mt-2">
            Minimum length is 8
        </small>
        <small *ngIf="signupForm.get('password').errors?.maxlength" class="text-danger d-block mt-2">
            Maximum length is 14
        </small>
    </div>

    <button [disabled]="signupForm.invalid" class="btn btn-primary btn-block">Register</button>

    <p>Already a user?<a [routerLink]="['']">Sign In!</a></p>
</form>